<!DOCTYPE html>
<html>
<%- include('./partials/head', { hojasDeEstilo: [" "]})%>
<body>
    <%- include('./partials/header') %>
    <section class="banner">
        <img src="images/banner.webp">
    </section>
    <main>
        <h3 class="tittle">Categorías</h3>
        <section class="categories">
            <article>
                <div>
                    <img src="images/icono_plato.png">
                </div>
                <p class="categories-1">Alimentos</p>
            </article>
            <article>
                <div>
                    <img src="images/icono_snack.png">
                </div>
                <p class="categories-2">Snacks</p>
            </article>
            <article>
                <div>
                    <img src="images/icono_collar.png">
                </div>
                <p class="categories-3">Accesorios</p>
            </article>
            <article>
                <div>
                    <img src="images/icono_pelota.png">
                </div>
                <p class="categories-4">Juguetes</p>
            </article>
            <article>
                <div>
                    <img src="images/icono_peluqueria.png">
                </div>
                <p class="categories-5">Cuidado e Higiene</p>
            </article>
        </section>
        <h3 class="tittle">Productos destacados</h3>
        <section class="products">
            <% for(let i = 0; i < productosDestacados.length; i++){ %>
                <a href="/detalle"><article class="control__a-article">
                    <img src="images/<%= productosDestacados[i].imagen %>">
                    <div class="products__details">
                        <p class="products__details-description"><%= productosDestacados[i].nombre %></p>
                        <p class="products__details-price"><%= productosDestacados[i].precio %></p>
                    </div>
                </article></a>
              <% } %>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>