<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {hojasDeEstilo: ["carrito"] })%>

    <body>
        <%- include('../partials/header') %>
            <div class="tituloCarrito">
                <h4>Mi Carrito</h4>
                <h4>
                    <%= carrito.length %> Productos
                </h4>
            </div>
            <main>
                <div class="body">
                    <section class="articulos">

                        <article class="articulo">
                            <% for(let i=0; i < carrito.length; i++){ %>
                                <div class="articuloPrinc">
                                    <div class="imgProducto">
                                        <img src="/images/<%= carrito[i].image %>" width="40 rem" alt="Producto1">
                                    </div>
                                    <div class="detalleProducto">
                                        <h5 class="nombreProducto">
                                            <%= carrito[i].name %>
                                        </h5>
                                        <p class="descProducto">
                                            <%= carrito[i].description%>>
                                        </p>
                                        <div class="cantProducto">
                                            <i class="fas fa-minus"></i>
                                            <p class="numerocantidad"> 2 </p>
                                            <i class="fas fa-plus"></i>
                                        </div>
                                        <div class="precio">
                                            <%= carrito[i].price%>
                                        </div>
                                    </div>

                                    <div class="footerProducto">
                                        <i class="fas fa-trash-alt"></i>
                                    </div>
                                </div>

                                <% } %>

                        </article>

                    </section>
                    <section class="resumen">
                        <div>
                            <p class="titulo_resumen">Resumen de compra</p>
                        </div>
                        <div class="resumen_detalle">
                            <div>
                                <span class="nombre">Subtotal</span>
                                <span class="monto">$14.494,00</span>
                            </div>
                            <div>
                                <span class="nombre">Envio</span>
                                <span class="monto">$1.250,00</span>
                            </div>
                            <div>
                                <span class="nombre_total">Total</span>
                                <span class="monto_total">$15.694,00</span>
                            </div>
                        </div>
                        <section>
                            <a class="botoncompra" href="/">
                                <button type="submit" class="botonFinalizarCompra_769">Finalizar
                                    Compra</button>
                            </a>

                        </section>


                </div>

                </section>
                <div class="contenedor_envio">
                    <div>
                        <section class="envio">
                            <div>Lugar de Envio:</div>
                            <div>Malabia 1948 - Boulogne</div>
                        </section>

                        <section class="total">
                            <div>Total a Pagar con Envio:</div>
                            <div>$ 15.694,00</div>
                        </section>
                        <section>
                            <a class="botoncompra" href="/">
                                <button type="submit" class="botonFinalizarCompra">Finalizar
                                    Compra</button>
                            </a>


                        </section>
                    </div>
                </div>



            </main>
            <%- include('../partials/footer') %>
    </body>

</html>