<!DOCTYPE html>
<html>
    <%- include('../partials/head', { hojasDeEstilo: ["productsList"] })%>
<body>
    <%- include('../partials/header') %>
    <main>
        <h3 class="tittle">Todos los productos</h3>
        <section class="products">
            <% for(let i = 0; i < productsList.length; i++){ %>
                <a class="control__article" href="/detalle">
                    <article>
                  <img src="images/<%= productsList[i].imagen %>">
                  <div class="products__details">
                      <p class="products__details-description">
                          <%= productsList[i].nombre %> 
                      </p>
                      <p class="products__details-price">
                          <%= productsList[i].precio %>
                      </p>
                      <p>
                          <%= productsList[i].description %>
                      </p>
                  </div>
                    </article>
                </a>
              <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

