<!DOCTYPE html>
<html>
    <%- include('../partials/head', { hojasDeEstilo: ["productsList"] })%>
<body>
    <%- include('../partials/header') %>
    <main>
        <h3 class="tittle"><%= product[0].category_product.toUpperCase()%></h3>
        <section class="productsList">
            <% for(let i = 0; i < product.length; i++){ %>
                <a class="control__a" href="/products/<%= product[i].product_id %>">
                    <article>
                  <img src="/images/<%= product[i].images %>">
                  <div class="products__details">
                      <p class="products__details-name">
                          <%= product[i].product_name %> 
                      </p>
                      <p class="products__details-price">
                          <%= product[i].price %>
                      </p>
                      <p>
                          <%= product[i].desc_product %>
                      </p>
                  </div>
                    </article>
                </a>
              <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>