<!DOCTYPE html>
<html>
    <%- include('../partials/head', { hojasDeEstilo: ["productsList"] })%>
<body>
    <%- include('../partials/header') %>
    <main>
        <h3 class="tittle">Juguetes</h3>
        <section class="productsList">
            <% for(let i = 0; i < juguetes.length; i++){ %>
                <a class="control__a" href="/products/<%= juguetes[i].id %>">
                    <article>
                  <img src="/images/<%= juguetes[i].image %>">
                  <div class="products__details">
                      <p class="products__details-name">
                          <%= juguetes[i].name %> 
                      </p>
                      <p class="products__details-price">
                          <%= juguetes[i].price %>
                      </p>
                      <p>
                          <%= juguetes[i].description %>
                      </p>
                  </div>
                    </article>
                </a>
              <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>