<!DOCTYPE html>
<html>
<%- include('./partials/head', { hojasDeEstilo: [" "]})%>
<body>
    <%- include('./partials/header') %>
    <section class="slider">
        <div class="slider_control">
            <div class="banner">
                <img src="images/banner.jpg" class="banner_1" alt="banner_1">
                <img src="images/banner2.webp" class="banner_2" alt="banner_2">
                <img src="images/banner3.webp" class="banner_3" alt="banner_3">
                <img src="images/banner4.jpg" class="banner_4" alt="banner_4">
            </div>
        </div>
    </section>
    <main>
        <h3 class="tittle-categories">Categorías</h3>
        <section class="categories">
                <article class="categories-article">
                    <div class="categories-div">
                        <a href="/category/alimentos"><img src="images/category-alimento.png"></a>
                    </div>
                    <a href="/category/alimentos"><p class="categories-p">Alimentos</p></a>
                </article>
                <article class="categories-article">
                    <div class="categories-div">
                        <a href="/category/snacks"><img src="images/category-snacks.png"></a>
                    </div>
                    <a href="/category/snacks"><p class="categories-p">Snacks</p></a>
                </article>
                <article class="categories-article">
                    <div class="categories-div">
                        <a href="/category/accesorios"><img src="images/category-accesorios.png"></a>
                    </div>
                    <a href="/category/accesorios"><p class="categories-p">Accesorios</p></a>
                </article>
                <article class="categories-article">
                    <div class="categories-div">
                        <a href="category/juguetes"><img src="images/category-juguetes.png"></a>
                    </div>
                    <a href="category/juguetes"><p class="categories-p">Juguetes</p></a>
                </article>
                <article class="categories-article">
                    <div class="categories-div">
                        <a href="/category/higiene"><img src="images/category-higiene.png"></a>
                    </div>
                    <a href="/category/higiene"><p class="categories-p">Cuidado e Higiene</p></a>
                </article>
        </section>
        <h3 class="tittle-products">Productos destacados</h3>
        <section class="products">
            <% for(let i = 0; i < productsList.length; i++){ %>
                <a href="/products/<%= productsList[i].product_id %>"><article class="control__a-article">
                    <img src="images/<%= productsList[i].images %>">
                    <div class="products__details">
                        <p class="products__details-name"><%= productsList[i].product_name %></p>
                        <p class="products__details-price">$ <%= productsList[i].price %></p>
                    </div>
                </article></a>
              <% } %>
        </section>
        <a class="control__main-a" href="/products"><h4>Ver todos los productos</h4></a>
        <a class="create__product-button" href="/adm/new"> 
            <button class="button_buy">+</button>
        </a>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>