<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {hojasDeEstilo: ["formCreateProduct"] })%>
    <body>
        <%- include('../partials/header') %>
            <main class="align">
                <div class="register">
                    <section class="login__header">
                        <h2>Crear Producto</h2>
                    </section>
                    <section id="createProduct__form">
                    <form action="new" method="POST" enctype="multipart/form-data" class="login__form">
                        <!-- <div class="insideForm">
                            <div class="inputs"> -->
                                <div>
                                    <p><label for="nameProduct">Nombre</label></p>
                                    <input type="text" id="name" name="nameProduct" data-nombre2="nombre" placeholder="Ingrese el nombre del producto">
                                    <br>
                                    <span></span>
                                </div>
                                <% if (locals.errors && errors.nameProduct) { %>
                                    <div class="text-danger">
                                        <%= errors.nameProduct.msg %> 
                                    </div>
                                <% } %>

                                <div>
                                    <p><label for="descriptionProduct">Descripción</label></p>
                                    <textarea id="ProductDescription" name="descriptionProduct" placeholder="Ingrese la descripción" data-nombre2="descripcion"></textarea>
                                    <br>
                                    <span></span>
                                </div>
                                <% if (locals.errors && errors.descriptionProduct) { %>
                                    <div class="text-danger">
                                        <%= errors.descriptionProduct.msg %> 
                                    </div>
                                <% } %>
                                <div>
                                    <p><label for="imageProduct">Imagen</label></p>
                                    <input type="file" id="image" name="imageProduct" accept="" data-nombre2="image"/>
                                    <br>
                                    <span></span>    
                                </div>
                                <% if(locals.errors && errors.imageProduct){ %>
                                    <div class="text-danger">
                                        <%= errors.imageProduct.msg %> 
                                    </div>
                                <% } %>
                                <div>
                                    <p><label for="categoryProduct">Categoria</label></p>
                                    <select id="category" name="categoryProduct">
                                        <option value="alimentos">Alimentos</option>
                                        <option value="snacks">Snacks</option>
                                        <option value="accesorios">Accesorios</option>
                                        <option value="juguetes">Juguetes</option>
                                        <option value="higiene">Cuidado e Higiene</option>
                                    </select>
                                    
                                </div>
                                <div>
                                    <p><label for="typeProduct">Tipo</label></p>
                                    <select id="type" name="typeProduct">
                                        <option value="destacado">Destacados</option>
                                        <option value="in-sale">Con Rebajas</option>
                                        <option value="normal">Normal</option>
                                    </select>
                                    
                                </div>
                                
                                <div>
                                    <p><label for="brandProduct">Marca</label></p>
                                    <input type="text" id="brand" name="brandProduct" placeholder="Ingrese la marca" data-nombre2="marca">
                                    <br>
                                    <span></span>
                                </div>
                                <% if(locals.errors && errors.brandProduct){ %>
                                    <div class="text-danger">
                                        <%= errors.brandProduct.msg %> 
                                    </div>
                                <% } %>
                                <div>
                                    <p><label for="priceProduct">Precio</label></p>
                                    <input type="text" id="price" name="priceProduct" placeholder="Ingrese el precio" data-nombre2="precio">
                                    <br>
                                    <span></span>
                                </div>
                                <% if(locals.errors && errors.priceProduct){ %>
                                    <div class="text-danger">
                                        <%= errors.priceProduct.msg %> 
                                    </div>
                                <% } %>
                            </div>
                            <div class="errores__control">
                                <ul class="errores"></ul>
                            </div>
                        <!-- </div> -->
                        <div>
                            <input class="button" value="Crear producto" type="submit">
                        </div>
                    </form>
                    </section>
                    <div>
                        <a href="/" class="button_bck_home"><input class="button" value="Volver a la tienda"></a>
                    </div>
            </main>
            <%- include('../partials/footer') %>         
            <script src="/js/addProductValidation.js"></script>   
    </body>
</html>