<!DOCTYPE html>
<%- include('../partials/head', {hojasDeEstilo: ["forms"] })%>
<body>
    <%- include('../partials/header') %>
    <main class="align">
        <div class="register">
          <section class="login__header">
            <h2>Crea tu cuenta</h2>
          </section>
          <section id="formulario">
          <form action="/users/register" class="login__form" method="POST" enctype="multipart/form-data" >
            <div>
                <p><label for="name">Nombre</label></p>
                <input type="text" id="name" name="name"  placeholder="Debe ingresar al menos 2 caracteres" data-nombre="nombre">
                <br>
                <span></span>
            </div>
            <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                    <%= errors.name.msg %> 
                </div>
            <% } %>
            <div>
                <p><label for="lastname">Apellido</label></p>
                <input type="text" id="lastname" name="lastname" placeholder="Debe ingresar al menos 2 caracteres" data-nombre="apellido">
                <br>
                <span></span>
            </div>
            <% if (locals.errors && errors.lastname) { %>
                <div class="text-danger">
                    <%= errors.lastname.msg %> 
                </div>
            <% } %>
            <div>
                <p><label for="email">Ingresa tu em@il</label></p>
                <input type="email" id="email" name="email"  data-nombre="email" placeholder="email@email.com">
                <br>
                <span></span>
            </div>
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %>
            <div>
                <p><label for="username">Usuario</label></p>
                <input type="text" id="username" name="username"  data-nombre="usuario" placeholder="Tu usuario">
                <br>
                <span></span>
            </div>
            <% if (locals.errors && errors.username) { %>
                <div class="text-danger">
                    <%= errors.username.msg %> 
                </div>
            <% } %>
            <div>
                <p><label for="password">Contraseña</label></p>
                <input type="password" id="password" name="password" placeholder="Debe tener al menos 8 caracteres" data-nombre="password">
                <br>
                <span></span>
            </div>
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div>
            <% } %>
            <div>
                <label for="category">Categoria</label>
              </br>
              <select name="category" class="combo_categoria">
                <option value="admin">Administrador</option>
                <option value="user" selected>Usuario</option>

              </select>
            </div>
            <% if (locals.errors && errors.category) { %>
                <div class="text-danger">
                    <%= errors.category.msg %> 
                </div>
            <% } %>
            <div>
                <p><label for="avatar">Avatar</label></p>
                <div class="file-select" >
                    <input type="file" id="avatar" name="avatar" aria-label="Archivo" data-nombre="avatar">
                  </div>
                  <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                        <%= errors.avatar.msg %> 
                    </div>
                <% } %>
                <br>
                <span></span>
            </div>
            
    
            <!-- <div class="login_header">
                <h3>Queremos saber de tus mascotas</h3>
            </div>
            <div>
                <label for="species">Especie</label>
                <input type="text" id="species" name="species" placeholder="">
            </div>
            <div>
                <label for="age">Edad</label>
                <input type="number" id="age" name="age" placeholder="">
            </div>
            <div>
                <input class="button"  value="Agregar Mascota" type="submit"> 
            </div> -->
            <div>
                <input class="button"  value="Crear cuenta" type="submit"> 
            </div>
        </form>
        <div>
            <a href="/" class="button_bck_home"><input class="button"  value="Volver a la tienda" type="submit"></a> 
        </div>
    </div>
    </section>
    </main>
        <%- include('../partials/footer') %>
        <script src="/js/userRegisterValidation.js"></script>
        
</body>
</html>