<!DOCTYPE html>
<%- include('../partials/head', {hojasDeEstilo: ["forms"] })%>

    <body>
        <%- include('../partials/header') %>
            <main class="align">
                <div class="register">
                    <section class="login__header">
                        <h2>Bienvenid@ - <%=user.first_name%></h2>
                    </section>
                    <div  class="login__form_datos">
                        <section class="userView">
                        <div>
                                <img src="/images/userImages/<%=user.images%>" width="70%" style="margin:5px">
                        </div>
                        <div class="userViewDatos">
                                <div>
                                    <label>Nombre: <%= user.first_name%> </label>
                                </div>
                                <div>
                                    <label>Apellido: <%= user.last_name%> </label>
                                </div>
                                <div>
                                    <label>Usuario: <%= user.user_name%> </label>
                                </div>
                                <div>
                                   <label>Email: <%= user.email%> </label>
                                </div>
                                <div>
                                    <label>Categoria: <%= user.category_user%> </label>
                                </div>
                        </div>
                        </section>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>